#app {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 1500px;
    height: 750px;
}

img {
    height: 100%;
    width: 100%;
}

#bamboo-big{
    grid-column: 2 / span 1 ;
    grid-row: 3 / span 1;
}

#bamboo{
    grid-column: 7 / span 1 ;
    grid-row: 9 / span 1 ;
}

#cell-tower {
    grid-column: 6 / span 1;
    grid-row: 7 / span 2;
}
#dolls-rectangle {
    grid-column: 1 / span 2 ;
    grid-row: 6 / span 1;
}
#dolls-square {
    grid-column: 7 / span 1;
    grid-row: 1 / span 2;
}
#fish-flag-wide {
    grid-column: 3 / span 2;
    grid-row: 9 / span 1;
}
#fish-flag {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
#flag-rectangle {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}
#flag-square {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
}
#gate {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
}
#gate-wide {
    grid-column: 8 / span 2;
    grid-row:5 / span 1;
}
#horn-horizontal {
    grid-column: 6 / span 1;
    grid-row: 2 / span 1;
}
#horn-vertical {
    grid-column: 5 / span 1;
    grid-row: 7 / span 3;
    }

#kimono-1{
    grid-column: 8 / span 2;
    grid-row: 1 / span 2;
}

#kimono-2{
    grid-column: 3 / span 2;
    grid-row: 7 / span 2;
}

#lantern-short{
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

#lantern-tall{
    grid-column: 9 / span 1;
    grid-row: 6 / span 2;
}

#lanterns-three{
    grid-column: 5 / span 3;
    grid-row: 3 / span 1;
}

#map-wide{
    grid-column: 8 / span 2;
    grid-row: 4 / span 1;
}

#map{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#masks-wide{
    grid-column: 3 / span 2;
    grid-row: 4 / span 1;
}

#masks{
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
}

#monster-wide{
    grid-column: 5 / span 2;
    grid-row: 1 / span 1;
}

#monster{
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

#pagoda-big{
    grid-column: 5 / span 2;
    grid-row: 5 / span 1;
}

#pagoda{
    grid-column: 6 / span 1;
    grid-row: 9 / span 1;
}

#painting{
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
}

#quadropi-five{
    grid-column: 5 / span 3;
    grid-row:6 / span 1;
}

#quadropus{
    grid-column: 2 / span 1;
    grid-row:4 / span 1;
}

#sake-wide{
    grid-column: 8 / span 2;
    grid-row: 8 / span 1;
}

#sake{
    grid-column: 5 / span 1;
    grid-row: 4 / span 1;
}

#sunrise-horizontal{
    grid-column: 9 / span 1;
    grid-row: 3 / span 1;
}

#sushi-extra-wide{
    grid-column: 3 / span 2;
    grid-row: 5 / span 1;
}

#sunrise-vertical{
    grid-column: 2 / span 1;
    grid-row: 7 / span 3;
}

#sushi-wide{
    grid-column: 1 / span 1;
    grid-row:8 / span 2; 
}

#sushi{
    grid-column: 6 / span 1;
    grid-row: 4 / span 1;
}

#vase-horizontal{
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
}

#vase-vertical-short{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

#vase-vertical-tall{
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
}

#volcano{
    grid-column: 8 / span 2;
    grid-row: 9 / span 1;
}

#wave-horizontal{
    grid-column: 4 / span 1;
    grid-row: 6 / span 1;
}

#wave-vertical{
    grid-column: 7 / span 1;
    grid-row: 4 / span 2;
}

#writing-horizontal{
    grid-column: 8 / span 1;
    grid-row: 3 / span 1;
}

#writing-vertical{
    grid-column: 8 / span 1;
    grid-row: 6 / span 2; 
}