#app {

}

img {
    height: 100%;
    width: 100%;
}

#bamboo-big{
    grid-column:
    grid-row:
}

#bamboo{
    grid-column:
    grid-row: 
}

#cell-tower{
    grid-column:
    grid-row:
}

#dolls-rectangle{
    grid-column:
    grid-row: 
}

#dolls-square{
    grid-column: 
    grid-row:
}

#fish-flag-wide{
    grid-column:
    grid-row: 
}

#fish-flag{
    grid-column:
    grid-row: 
}

#flag-rectangle{
    grid-column: 
    grid-row: 
}

#flag-square{
    grid-column: 
    grid-row:
}

#gate-wide{
    grid-column: 
    grid-row:
}

#gate{
    grid-column:
    grid-row:
}

#horn-horizontal{
    grid-column:
    grid-row:
}

#horn-vertical{
    grid-column:
    grid-row:
}

#kimono-1{
    grid-column:
    grid-row:
}

#kimono-2{
    grid-column:
    grid-row:
}

#lantern-short{
    grid-column:
    grid-row:
}

#lantern-tall{
    grid-column: 
    grid-row:
}

#lanterns-three{
    grid-column: 
    grid-row:
}

#map-wide{
    grid-column: 
    grid-row:
}

#map{
    grid-column:
    grid-row:
}

#masks-wide{
    grid-column: 
    grid-row:
}

#masks{
    grid-column: 
    grid-row:
}

#monster-wide{
    grid-column: 
    grid-row:
}

#monster{
    grid-column:
    grid-row:
}

#pagoda-big{
    grid-column:
    grid-row:
}

#pagoda{
    grid-column:
    grid-row:
}

#painting{
    grid-column:
    grid-row:
}

#quadropi-five{
    grid-column:
    grid-row:
}

#quadropus{
    grid-column:
    grid-row:
}

#sake-wide{
    grid-column:
    grid-row:
}

#sake{
    grid-column:
    grid-row:
}

#sunrise-horizontal{
    grid-column: 
    grid-row:
}

#sushi-extra-wide{
    grid-column: 
    grid-row:
}

#sunrise-vertical{
    grid-column:
    grid-row:
}

#sushi-wide{
    grid-column:
    grid-row: 
}

#sushi{
    grid-column:
    grid-row:
}

#vase-horizontal{
    grid-column:
    grid-row:
}

#vase-vertical-short{
    grid-column:
    grid-row: 
}

#vase-vertical-tall{
    grid-column:
    grid-row:
}

#volcano{
    grid-column: 
    grid-row:
}

#wave-horizontal{
    grid-column: 
    grid-row: 
}

#wave-vertical{
    grid-column: 
    grid-row: 
}

#writing-horizontal{
    grid-column: 
    grid-row: 
}

#writing-vertical{
    grid-column: 
    grid-row: 
}